<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".CropSelection"
            android:exported="false" />
        <activity
            android:name=".GrowthStageActivity2"
            android:exported="false" />
        <activity
            android:name=".StageDetailActivity2"
            android:exported="false" />
        <activity
            android:name=".StageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".GrowthStageActivity"
            android:exported="false" />
        <activity
            android:name=".RVPSecondActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" /> <!-- Set Dashboard activity -->
        <activity
            android:name=".Dashboard"
            android:exported="true" /> <!-- Set Login activity as the main activity -->
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Calendar Activity -->
        <activity android:name=".RecoMainActivity" /> <!-- Analytics Activity -->
        <activity android:name=".AnalyticMainActivity" /> <!-- PestMainActivity -->
        <activity android:name=".PestMainActivity" /> <!-- Harvest Volume Activity -->
        <activity android:name=".HarvestVolMainActivity" /> <!-- Tutorial Activity -->
        <activity android:name=".TutorialMainActivity" /> <!-- Chatbot Activity -->
        <activity android:name=".ChatbotMainActivity" />
        <activity
            android:name=".FormActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calendarclass" />
    </application>

</manifest>